{% extends 'base.html' %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class ="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            {{ message }}


        </div>
        {% endfor %}
    {% endif %}

{% if all_items %}
<table class="table table-bordered">

    {% for things in all_items %}
        {% if things.completed %}
        <tr class="table-secondary" >
            <td class="striker"><a href="{% url 'edit' things.id %}">{{ things.items }}</a> </td>
            <td><center><a href="{% url 'uncrossoff' things.id%}">UnCross</a></center></td>
            <td><center><a href ="{% url 'delete' things.id%}">DELETE</a></center></td>
        </tr>
        {% else %}
     <tr>
            <td><a href="{% url 'edit' things.id %}">{{ things.items }}</a>></td>
         <td><center><a href="{% url 'crossoff' things.id%}">Cross Off</a></center></td>
            <td><center><a href ="{% url 'delete' things.id%}">DELETE</a></center></td>
        </tr>
    {% endif %}
    {% endfor %}
    </table>

{% endif %}

{% endblock %}